.newsletter {
  height: auto;
  max-width: 100%;
  width: 845px;
  border: 1px solid #ffffff; /* Borda branca */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 1px 5px #d1d1d1; /* Sombra leve */
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajustado para distribuir a imagem e o texto */

  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px;
    justify-content: center;
    text-align: center; /* Centraliza o texto e a imagem */
  }

  @media screen and (max-width: 480px) {
    padding: 15px;
    width: 95%;
  }

  @media screen and (min-width: 1920px) {
    width: 100%;
    max-width: 1200px;
    height: auto;
  }
}

.carta {
  width: 180px;
  height: 245px;
  background-color: #0473BA;
  border-radius: 10px;
  box-shadow: 0 1px 5px #d1d1d1;
  margin-bottom: 4px;
  margin-right: 20px;

  @media screen and (max-width: 768px) {
    width: 150px;
    height: 200px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 480px) {
    width: 160px;
    height: 210px;
    margin-top: 20px; /* Adiciona mais espaço acima */
  }

  @media screen and (min-width: 1920px) {
    width: 250px;
    height: 300px;
  }
}

.formnew {
  max-width: 1280px;
  width: 100%;
  padding: 0 30px;
  margin-top: 1.5rem;
  
  display: flex;
  flex-direction: column;

  .inputGroup {
    display: flex;
    gap: 20px; /* Espaçamento entre os campos */
    flex-wrap: wrap; /* Permite que os itens quebrem linha em telas menores */

    @media screen and (max-width: 768px) {
      flex-direction: column; /* Empilha os inputs no mobile */
    }
  }

  .rd {
    h3 {
      font-size: 1.8rem;
      font-weight: 600;
      color: #374754;
      font-family: 'DM Sans', sans-serif;
      margin-top: -2rem;
      
      @media screen and (max-width: 480px) {
        margin-top: 10px; /* Adiciona espaço superior no mobile */
      }
    }

    span {
      font-size: 1.2rem;
      line-height: 2rem;
      color: #908F8F;
      text-align: center;
      display: flex;
      align-items: center;
      font-weight: 200;
      font-family: 'DM Sans', sans-serif;
    }
  }

  input[type="email"], input[type="text"] {
    width: 100%;
    max-width: 390px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    margin-top: 10px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      padding: 8px;
      max-width: 100%;
    }

    @media screen and (max-width: 480px) {
      font-size: 12px;
      padding: 6px;
    }

    @media screen and (min-width: 1920px) {
      font-size: 18px;
      padding: 12px;
      max-width: 500px;
    }
  }

  .checkboxContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;

    input[type="checkbox"] {
      margin-right: 10px;
    }

    label {
      font-size: 1rem;
      color: #303137;
      font-family: 'DM Sans', sans-serif;

      strong {
        text-decoration: underline;
      }

      @media screen and (max-width: 768px) {
        font-size: 0.9rem;
      }

      @media screen and (max-width: 480px) {
        font-size: 0.8rem;
      }

      @media screen and (min-width: 1920px) {
        font-size: 1.2rem;
      }
    }
  }

  button {
    background-color: #0473BA;
    border: 0;
    padding: 0.8rem 5rem;
    margin-top: 10px;
    border-radius: 1rem;
    color: #fbfbfb;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.05);
    }

    @media screen and (max-width: 768px) {
      padding: 0.6rem 4rem;
      font-size: 14px;
    }

    @media screen and (max-width: 480px) {
      padding: 0.5rem 3rem;
      font-size: 12px;
    }

    @media screen and (min-width: 1920px) {
      padding: 1rem 7rem;
      font-size: 18px;
    }
  }

  .privice {
    margin-top: 1rem;
    color: #303137;

    p {
      text-align: center;
    }

    strong {
      text-decoration: underline;
    }

    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 0.8rem;
    }

    @media screen and (min-width: 1920px) {
      font-size: 1.2rem;
    }
  }
}

.thankYouMessage {
  text-align: justify;
  
  h2 {
      font-size: 2.5rem;
      color: #0473BA; /* Cor do texto */
      font-weight: bold;
  }
  p {
      font-size: 1.2rem;
      color: #374754;
      margin-top: 1rem;
  }
}
