.planos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 4rem 0;
}

.planos2 {
  h2 {
    font-size: 2.4rem;
    color: #374754;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #252430;
    font-family: 'DM Sans', sans-serif;

    span {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.style {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 5px #d1d1d1;
  margin-top: 2rem;

  @media screen and (max-width: 768px) {
    padding: 10px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 1500px;
    padding: 15px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    vertical-align: middle;
    padding: 5px 10px;
  }

  th {
    text-align: center;
    color: #374754;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.9rem;
  }

  @media screen and (min-width: 1920px) {
    font-size: 1.2rem;
  }
}

.td {
  text-align: left;
  vertical-align: middle;
  padding: 5px 10px;

  span {
    display: block;
    margin: 0;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

.tr:hover {
  background-color: #f9f9f9;

  @media screen and (min-width: 1920px) {
    background-color: #f0f0f0;
  }
}

/* Botão "Saiba Mais" */
.saibaMaisContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.saibaMaisButton {
  background-color: #0074bc;
  border: 0;
  padding: 0.8rem 2.5rem;
  margin-top: 1rem;
  border-radius: 3rem;
  color: #fbfbfb;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;

  &:hover {
    color: #ffffff;
    transform: scale(1.1); /* Movimento de crescer */
  }

  &:active {
    transform: scale(0.95); /* Leve redução ao clicar */
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.5);
  }
}

